<row>
  <columns small="12" large="12">
    <h3>
          Billing &amp; Shipping Details
        </h3>
    <hr>
  </columns>
</row>
<row class="last-row-in-group">
  <columns small="6" large="4">
    <small>
        Shipping To
      </small>
    <address>
        John Smith<br />
        401 Dell Way<br />
        Round Rock, TX  78682
      </address>
  </columns>
  <columns small="6" large="4">
    <small>
        Billing Address
      </small>
    <address>
        John Smith<br />
        401 Dell Way<br />
        Round Rock, TX 78682<br />
        (555) 555-5555
      </address>
  </columns>
  <columns small="6" large="4">
    <small>Payment Information</small> 
    <p>
      John Smith<br />
      AMEX ending with 3979
    </p>
  </columns>
</row>