<row class="collapse footer">
  <columns small="12" large="12">
    <callout class="light-gray">
      <p><small>
        This is an automated e-mail that cannot accept replies. To view the status of the rest of the orders withing you Dell Purchase ID, visit our Order Status page.
        </small></p>
      <p><small>
Legal Disclaimer: Please note that Dell cannot be responsible for pricing or other errors and reserves the right to cancel any orders arising from such errors. The ammount of tax and shipping added to your order depends on whereyou have asked for the product to be shipped as well as on which products and/or services you've chosen to purchase. Your order is subject to Dell's Terms of Sale which include a binding consumer arbitration provision.
      </small></p>
    </callout>
  </columns>
</row>