<row>
  <columns small="12" large="12">
    <h3>
          Order Summary
        </h3>
    <hr>
  </columns>
</row>
<row>
  <columns small="6" large="4">
    <small>
        Order Date
      </small>
    <p>March 31, 2016</p>
  </columns>
  <columns small="6" large="4">
    <small>
        Dell Purchase ID
      </small>
    <p>2005388183599</p>
  </columns>
  <columns></columns>
</row>
<row class="last-row-in-group">
  <columns small="6" large="4">
    <small>
        Order Total
      </small>
    <p>$1,669.56</p>
  </columns>
  <columns small="12" large="4">
    <button href="#">
        Purchase Details
      </button>
  </columns>
  <columns></columns>
</row>