<row class="pricing-total-1">
  <columns small="6" large="4">
      <p>
        Subtotal:<br /> Shipping:
        <br /> Environmental fee:<br /> Tax:
      </p>
  </columns>
  <columns small="6" large="4">
      <p>
        $1,521.08<br /> $15.00
        <br /> $8.00
        <br /> $125.48
      </p>
  </columns>
  <columns large="4"></columns>
</row>
<row>
  <columns small="12" large="12">
    &nbsp;
    <hr />
  </columns>
</row>
<row class="pricing-total-2">
  <columns small="6" large="4">
      <p>
        <strong>Total:</strong>
      </p>
  </columns>
  <columns small="6" large="4">
  <p>
    <strong>$1,669.56</strong>
    </p>
  </columns>
  <columns large="4"></columns>
</row>
<row class="last-row-in-group">
  <columns small="12" large="12">
    <button href="#">
        Purchase Details
    </button>
  </columns>
</row>